<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Servidor CIPA</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f7f7f7;
            font-family: Arial, sans-serif;
        }
        h2 {
            font-size: 2em;
            text-align: center;
        }
        span {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
<h2>Servidor da CIPA <span>está no ar!! E em produção!</span></h2>
</body>
</html>
